/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require mobile
*= require_self
*= require bootstrap.min
*= require bootstrap-theme.min
*= require bootstrap-admin-theme
*= require bootstrap-admin-theme-change-size
*/

.buttons {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
}
